<!-- template /views/partials/_header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
    a > h1 {
      color: black;
      text-align: center
    }
    body {
      font-size:20px;
      padding:50px;
    }
    td {
      padding: 5px;
    }
    input[type="text"] {
      width: 250px;
    }
  </style>
</head>
<body>
  <div >
    <a href="/"><h1>TinyApp</h1></a>
    <% if (locals.user) { %>
      Hello, <b><%= user.name %></b>! <i>(<%= user.email %>)</i>
      <div style="float:right;">
        <form method="POST" action='/logout'>
          <button type="submit">Logout</button>
        </form>
      </div>
    <% } else { %>
      <div style="float:right;">
          <a href="/register"><button type="submit">Register</button></a>
          <a href="/login"><button type="submit">Login</button></a>
      </div>
    <% } %>
  </div>
  &nbsp;
  <hr>