<%- include('partials/_header') %>
<p style="text-align: center">Something went wrong... so here's Tiny Rick.</p>
<img src="https://res.cloudinary.com/teepublic/image/private/s--Ph_cB3Hx--/t_Preview/b_rgb:c8e0ec,c_lpad,f_jpg,h_630,q_90,w_1200/v1447829239/production/designs/334554_1.jpg">
<%- include('partials/_footer.ejs') %>