<%- include('partials/_header') %>

<p>
  <% if locals.error_msg { %>
    <%= error_msg %>
  <% } else { %>
    Something went wrong.
  <% } %>
   Please <a href='/register'>Register</a>, or <a href='/login'>Login</a>.
</p>

<%- include('partials/_footer') %>