<%- include('partials/_header') %>

<p>
  <% if (locals.errorMsg) { %>
    <%= error_msg %>
  <% } else { %>
    Something went wrong.
  <% } %>
  <% if ( !locals.loggedIn ) { %>
    Please <a href='/register'>Register</a>, or <a href='/login'>Login</a>.
  <% } else { %>
    <a href="/urls">Back to browse</a>.
  <% } %>
</p>

<%- include('partials/_footer') %>