<%- include('partials/_header') %>

  <form action="/register" method="POST" style="margin:150px;">
    <input id="name" type="text" name="name" placeholder="Your Name">
    <input id="email" type="email" name="email" placeholder="you@yoursite.com">
    <input id="password" type="password" name="password" placeholder="*******">
    <input type="submit" value="Submit">
  </form>

<%- include('partials/_footer') %>